*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{   
    background: linear-gradient(to bottom ,rgb(127, 179, 192), rgb(7, 8, 8));
}
.mainContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}